



/*=============================================
=            body text sizes            =
=============================================*/

$fx-xs: var(--dse-fx-xs, 0.75rem) !default;
$fx-sm: var(--dse-fx-sm, 0.875rem) !default;
$fx-md: var(--dse-fx-md, 1rem) !default;
$fx-lg: var(--dse-fx-lg, 1.125rem) !default;
$fx-xl: var(--dse-fx-xl, 1.25rem) !default;
$fx-xxl: var(--dse-fx-xxl, 1.5rem) !default;
$fx-xxxl: var(--dse-fx-xxxl, 2rem) !default;

/*=====  End of body text sizes  ======*/

