:root {
  --des-dark-text: #{$darks};
  --des-bg-color: #{$whites};
  --des-button-bg-color: #{$reds};
  --des-button-bg-color-hover: #{$purples};
  --des-button-bg-color-active: #{$yellows};
  --des-header-bg-color: #{$darks};
  --des-header-text-color: #{$whites};
  --des-header-text-color-hover: #{$browns};
  --des-header-text-color-active: #{$pinks};
}
