:root{
    --des-dark-text:#{$dark};
    --des-bg-color:#{$white};
    --des-button-bg-color:#{$red};
    --des-button-bg-color-hover:#{$purple};
    --des-button-bg-color-active:#{$yellow};
    --des-header-bg-color:#{$dark};
    --des-header-text-color:#{$white};
    --des-header-text-color-hover:#{$brown};
    --des-header-text-color-active:#{$pink};
}